#compreenda {
    .section-main {
        background-image: url('../../../assets/images/compreenda/bg-compreenda.jpg');
        background-size: cover;
        background-position: 80%;

        padding-top: 150px;
        color: white;

        @media(min-width: 768px) {
            min-height: 608px;
            padding-top: 100px;
            background-size: auto;
            background-position: right;
        }

        .section-main--highlight--text strong {
            font-weight: bold;
            font-size: 1em;

            @media(min-width: 768px) {
                font-size: 1.65em;
            }
        }

        .section-main--highlight--container:not(.is-active):not(:hover){
            filter: invert(50%) brightness(400%);
        }
    }

    .internal-title {
        font-size: 6em;
        line-height: 1;
        @media(max-width: 480px) {
            font-size: 3em;
        }
    }

    .internal-subtitle {
        font-size: 2em;

        @media(max-width: 480px) {
            font-size: 1.1em;
        }
    }

    .internal-title span {
        color: #fa4616;
    }

    .internal-breadcrumb {
        list-style: none;
        font-size: 1.52em;
        font-weight: bold;
        color: #fa4616;
        padding-left: 0;
    }

    .internal-breadcrumb li {
        display: inline-block;
    }

    .internal-breadcrumb li a {
        color: inherit;
        text-decoration: none;
    }

    .section-main--highlight--image {
        height: 4.7em;
    }

    .section-ideais--mozaico:after {
        content: none;
    }

    .section-optimizacao-publico {
        background-color: #fa4616;
        @media(min-width: 480px) {
            background-image: url("../../../assets/images/compreenda/bg-otimizacao-publicos.jpg");
            background-position-x: calc((1920px - 100vw)/2 * -1);
        }
    }


    .section-optimizacao-publico--title {
        @extend .section-ideais--title;

        color: white;

        &:before {
            background-color: white;
        }

        strong {
            display: inline;
        }
    }

    .section-optimizacao-publico--text {
        @extend .section-ideais--text;

    }

    .section-optimizacao-publico--recorte-superior {
        position: relative;
        right: 1rem;
        width: calc(100% + 5rem);
        border-top: 4px solid white;
        display: block;

        &:after {
            position: absolute;
            content: url(../../../assets/images/compreenda/optimize-recorte-superior-direito.png);
            left: -.5em;
            bottom: -2.30em;
        }
    }

    .section-jornada-cliente {
        background-color: white;
        background-image: url("../../../assets/images/compreenda/bg-workflow.jpg");
        background-size: contain;
        background-position-x: right;
        background-repeat: no-repeat;

        @media(max-width: 1199px) {
            background: white;
        }
    }
    .section-jornada-cliente--recorte-inferior {
        position: relative;
        right: 0;
        width: calc(100% + 4rem);
        border-top: 4px solid #fa4616;
        display: block;
        margin-top: 5rem;
        &:after {
            content: url(../../../assets/images/home/blog-recorte-superior.png);
            position: absolute;
            left: -.8em;
            bottom: 0;
        }
    }
    .section-jornada-cliente--title {
        @extend .section-ideais--title;

        strong {
            display: inline;
        }
    }
    .section-jornada-cliente--text {
        @extend .section-ideais--text;
    }

    .section-remarketing--statistics {
        background-color: white;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        padding: 1rem;
        font-size: 2.5rem;
        strong {
            font-weight: 800;
            display: block;
            position: relative;
            span {
                @media(min-width: 1200px) {
                    position: absolute;
                    right: 100%;
                }
                display: inline-block;
                transform: scale(1.8);
                margin-right: .5rem;
            }
        }
    }

    .section-remarketing {
        background-color: white;
        background-image: url("../../../assets/images/compreenda/bg-remarketing.png");
        background-repeat: no-repeat;
        background-position-x: 2rem;
        background-position-y: 60px;
        background-size: calc(100% - 4rem);

        @media(max-width: 1199px) {
            background: white;
        }
    }

    .section-remarketing--title {
        @extend .section-jornada-cliente--title;
    }

    .section-remarketing--text {
        @extend .section-jornada-cliente--text;
    }

    .section-integrations {
        background-image: url("../../../assets/images/home/bg-cinza.jpg");
        background-size: cover;
        color: white;
    }

    .section-integrations--title {
        @extend .section-ideais--title;
    }

    .section-integrations--text {
        @extend .section-jornada-cliente--text;
    }

    .section-integrations--logo-container {
        border: white 2px solid;
        margin-bottom: 1vw;
        margin-top: 1vw;
        height: 8vw;
        text-align: center;

        display: flex;
        justify-content: center;
        flex-direction: column;

        transition: transform linear .2s;

        &:hover {
            transform: scale(1.05);
            filter: invert(50%) sepia(100%) saturate(300) hue-rotate(39deg) brightness(200%) grayscale(10%);

        }
        img {
            max-width: 70%;
            max-height: 70%;
            display: block;
            margin: auto;
        }

        @media (max-width: 768px) {
            height: 17vw;
        }

        @media (max-width: 575px) {
            margin-bottom: 20%;
        }


        @media (max-width: 575px) {
            height: 28vw;
        }

    }

    .section-integrations--recorte-superior {
        @extend .section-optimizacao-publico--recorte-superior;
        top: -4.4rem;
        right: 2rem;
        width: calc(100% + 6rem);
        &:after {
            left: -14px;
            bottom: -63px;
        }
    }

    .section-data-analytics {
        background-image: url("../../../assets/images/compreenda/bg-analytcs.jpg");
        background-position-x: left;
        background-repeat: no-repeat;
        background-size: 100% auto;

        @media(max-width: 1199px) {
            background: white;
        }
    }

    .slick-slide {
        height: auto;
        padding-bottom: 4rem;
    }

    .slick-slide li {
        transition: all ease-in-out .3s;
    }

    .slick-slide li {
        transform: scale(.8) translateY(12%) translateX(120%);
    }

    .slick-slide.slick-active li {
        transform: scale(.9) translateY(5.3%) translateX(40%);
    }

    .slick-active + .slick-slide li {
        transform: scale(.8) translateY(12%) translateX(-120%);
    }

    .slick-current + .slick-active li {
        transform: scale(.9) translateY(5.3%) translateX(-40%);
    }

    .slick-slide.slick-active.slick-current li {
        transform: scale(1) translateY(0) translateX(0);
    }


    .slick-slide {
        position: relative;
        z-index: 1;
    }

    .slick-active {
        z-index: 2;
    }

    .slick-active.slick-current {
        z-index: 3;
    }

    .slider p {
        background: black;
        color: white;
        margin: -1em 10px 0;
        display: block;
        position: relative;
        z-index: 3;
        padding: .7em;
        text-align: center;
        border-radius: 5px;
        font-size: 1.4em;
    }

    .slick-slide img {
        box-shadow: 0px 30px 50px #000000;
    }

    .slick-dots {
        bottom: 1rem;
    }

    .slick-dots li {
        background: gray;
        border-radius: 100%;
        margin: 0 .75rem;
        &.slick-active {
            background-color: black;
        }
    }

    .slick-dots li button {
        height: 1.5em;
        width: 1.5em;
    }

}