/* [SECTION] MAIN */
#home {
    .section-main {
        height: 100vh;
        min-height: 55em;
        background-image: url("../../../assets/images/home/banner.jpg");
        background-position-y: bottom;
        background-position-x: calc((1900px - 100vw) / 7 * -1);
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #545655;

        color: white;

        @media(max-width:  768px) {
            background-position-x: calc((1900px - 100vw) / 8 * -1);
        }

        @media(orientation: landscape) and (max-width: 961px) {
            background-position-x: 0;
        }
    }
}


.home-title {
    font-size: 5em;
}
@media(max-width: 360px) {
    .home-title {
        font-size: 4.2em;
        letter-spacing: -2px;
    }
}

.home-title span {
    color: #fa4616;
}
.home-subtitle {
    font-size: 1.6em;
}

.section-main .btn {
    width: 20rem;
}
@media(max-width: 360px) {
    .section-main .btn {
        display: block !important;
        margin-left: 0 !important;
        margin-top: 3rem !important;
    }
}

.section-main--highlight--image {
    max-width: 14rem;

    text-align: center;
}
.section-main--highlight--image .ico {
    height: 4.5rem;

    background-position-y: bottom;
}

.section-main--highlight--text {
    max-width: 14rem;

    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
}

.section-main--highlight--text strong {
    display: block;

    color: #fa4616;
    font-size: 2.3em;
    white-space: nowrap;
    font-weight: 900;
}

.section-main--highlight--container {
    max-width: 215px;

}

/*[SECTION] COMPREENDA */
.section-compreenda {
    background-image: url("../../../assets/images/home/bg-aresta.png"), url("../../../assets/images/home/bg-2.jpg");
    background-repeat: no-repeat, repeat;
    background-position: top right, top left;
    background-size: auto, 100% auto;
}

@media(max-width: 767px) {
    .section-compreenda {
        background-image:  url("../../../assets/images/home/bg-aresta.png"), url(/assets/images/home/bg-2-mobile.jpg);
        background-position-y: top, 100px;
    }
}
@media(max-width: 440px) {
    .section-compreenda {
        background-image: none, url(/assets/images/home/bg-2-mobile-smart.jpg);
    }
}

.section-compreenda--title {
    position: relative;

    padding-left: 3rem;

    margin-bottom: -.7rem;

    text-transform: uppercase;
    font-size: 3.2rem;
    line-height: inherit;
}

.section-compreenda--title:before {
    content: "";
    position: absolute;
    display: block;

    height: 3rem;

    left: 1.5rem;
    top: 1rem;

    border-left: .4rem solid #fa4616;
}

.section-compreenda--title strong {
    font-weight: 700;
}

.section-compreenda--list {
    padding-left: 3rem;
}
.section-compreenda--ico {
    padding-left: 3rem;
}
.section-compreenda--items > li:not(:nth-of-type(1)) {
    border-top: 3px solid #fa4616;
}

.section-compreenda--items > li:not(:nth-of-type(1)):before {
    content: url(/assets/images/home/lista-recorte.png);
    position: relative;
    display: inline-block;

    left: -9px;

    margin-bottom: .4rem;
}

.section-compreenda--list {
    margin-bottom: 2rem;
}
.section-compreenda--list > li {

    margin: .42rem 0;

    font-weight: 600;
    font-size: 1.5rem;
}

.section-compreenda--list > li:before {
    content: "";
    background-image: url("../../../assets/images/icons/ico-list-item.png");
    width: 2rem;
    height: 2rem;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;

    margin-right: .75rem;

    vertical-align: middle;
}

.img-phone {
    margin-right: 10%;
    max-width: 90%;
}
/* SECTION IDEIAS */

.section-ideais {
    position: relative;
}

.section-ideais--title {
    position: relative;

    font-size: 3.2rem;
    letter-spacing: -1px;

    &:before {
        content: '';

        position: absolute;
        display: block;

        width: 8px;
        height: 1.2em;

        left: -2rem;
        top: .7rem;

        background-color: #fa4616;
    }

    strong {
        display: block;
    }
}

.section-ideais--text {
    font-size: 1.8rem;
    line-height: 1.3;

    p {
        margin-top: 1em;
        margin-bottom: 1em;
        text-align: justify;
    }
}

@media(min-width: 992px) {
    .section-ideais--mozaico {
        position: relative;
        right: -5rem;
    }
    .section-ideais--mozaico:after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        bottom: -16rem;
        background-image: url(/assets/images/home/grafismos-2.png);
        width: 31rem;
        height: 16rem;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 1;
    }

    .section-ideais--mozaico img {
        position: relative;
        z-index: 2;
    }
}

/* SECTION RECOMENDE */

.section-recomende {
    position: relative;

    background-image: url("../../../assets/images/home/bg-cinza.jpg");

    color: white;
}
.section-recomende > div {
    position: relative;
    z-index: 2;
}
.section-recomende:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10rem;
    background-image: url(/assets/images/home/grafismos-1.png);
    width: 11rem;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: calc(((1920px - 100vw) / 10  ) * -1);
}
.section-recomende:before {
    content: "";
    position: absolute;
    display: block;
    height: 9px;
    width: 3rem;
    top: 3.5rem;
    left: 0;
    right: 0;
    margin: auto;
    background: white;
}

@media (max-width: 768px) {
    .section-recomende:after {
        display: none;
    }
}

.section-recomende--title {
    font-size: 3.2rem;
    text-align: center;
}

.section-recomende--subtitle {
    font-size: 1.6rem;
    text-align: center;
    margin: 0 auto 4rem;
    max-width: 70%;
}

.section-recomende--list {
    font-size: 1.35rem;
    font-weight: bold;
}

.section-recomende--list--item-white-space {
    padding-top: 5rem;
    text-align: center;
}

.section-recomende--list--item {
    padding: 1.6rem 1rem;
    border-top: 2px solid white;
    border-left: 2px solid white;
    text-transform: uppercase;
    vert-align: bottom;

    cursor: pointer;
}

.section-recomende--list--item:hover .ico, .section-recomende--list--item.current .ico {
    transform: scale(1.15);
}

.section-recomende--list--item.current, .section-recomende--list--item:hover {
    color: #fa4616;
    background: #202020;
    border-right: 2px solid #202020;
    width: calc(100% + 2px);
    position: relative;
    z-index: 2;
}

.section-recomende--list--item .ico {
    margin-top: -.9rem;
}


.section-recomende--container {
    border: 2px solid white;
    background: #202020;
}

@media(min-width: 992px) {
    .section-recomende--container {
        padding: 2rem !important;
    }
}

.section-recomende--anchor {
    padding: 1.5rem;
    border-bottom: 1px solid white;
    border-top: 1px solid white;

    font-size: 2rem;
    font-weight: bold;
}
.section-recomende--anchor.current, .section-recomende--anchor:hover {
    color: #fa4616;
    font-weight: bold;
}
.section-recomende--anchor.current .ico, .section-recomende--anchor:hover .ico {
    transform: scale(1.15);
}

.section-recomende--anchor:nth-last-of-type(1) {
    border-color: red;
}

.section-recomende--anchor:nth-last-of-type(2) {
    border-bottom: none;
}

.section-recomende--anchor:nth-of-type(1) {
    border-top: none;
}

.section-recomende--list--item:nth-last-of-type(2) {
    border-bottom: 2px solid white;
}

.section-recomende--container--title {
    font-size: 2.15rem;
}

.section-recomende--container--title strong {
    filter: brightness(0) invert(97%) sepia(100%);
}

.section-recomende--container--text p {
    font-size: 1.15rem;
    text-align: justify;
}

.section-recomende--container--text .ico {
    width: 3.5rem;
    height: 3.5rem;

    filter: brightness(0) invert(97%) sepia(100%);
}

.section-recomende--container--text--list--item strong {
    font-size: 1.6rem;
    font-weight: 800;
}

.section-recomende--container--text--list--item {
    position: relative;
}

.section-recomende--container--text--list--item:before {
    content: '';
    position: absolute;
    right: 0;
    top: 2rem;
    width: .22rem;
    height: 2.5rem;
    background: white;
}

.section-recomende--container--text--list--item:nth-last-of-type(1):before {
    display: none;
}
/* SECTION CLIENTS */

.section-clients {
    position: relative;

    background: url('../../../assets/images/home/bg-cinza.jpg') no-repeat;
    background-size: cover;

    color: white;
}

.section-clients:before {
    content: "";

    position: absolute;
    display: block;

    height: 9px;
    width: 3rem;

    top: 3.5rem;
    left: 0;
    right: 0;

    margin: auto;

    background: #fa4616;
}

.section-clients--header--title {
    text-align: center;
    font-size: 3.2rem;
}

.section-clients--header--subtitle {
    text-align: center;
}

/** Section BLOG */
.section-blog {
    position: relative;
}
.section-blog:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 2rem;
    background-image: url(/assets/images/home/grafismos-3.png);
    background-position-y: -2rem;
    width: 11rem;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 4rem;
}

@media(max-width: 768px) {
    .section-blog:after {
        display: none;
    }
}

@media(max-width: 1199px) {
    .section-blog {
        padding-bottom: 100px;
    }
}
.section-blog--header--title {
    position: relative;

    font-size: 3.2rem;
}

.section-blog--header--title:before {
    content: '';

    position: absolute;
    display: block;

    width: 8px;
    height: 1.2em;

    left: -.5rem;
    top: .7rem;

    background-color: #fa4616;
}

.section-blog--header--title strong {
    font-weight: 800;
}

.section-blog--content {
    position: relative;

    padding: 5rem 0 2rem;
}
.section-blog--recorte-inferior {
    position: absolute;
    bottom: 0;
    right: -4rem;
    width: calc(100% + 3rem);
    border-top: 4px solid #fa4616;
}

.section-blog--recorte-inferior:before {
    position: absolute;
    content: url("../../../assets/images/home/blog-recorte-inferior.png");
    left: -14px;
    top: 0;
}

.section-blog--recorte-superior {
    position: absolute;
    top: 3rem;
    right: -4rem;
    width: calc(100% + 3rem);
    border-top: 4px solid #fa4616;
}

.section-blog--recorte-superior:after {
    position: absolute;
    content: url("../../../assets/images/home/blog-recorte-superior.png");
    left: -.8em;
    bottom: 0;
}

.section-blog--content:before {
    content: "";
    position: absolute;
    background: url("../../../assets/images/home/blog-recorte-superior.png");
}

.section-blog--content:after {
    content: "";
    position: absolute;
    background: url("../../../assets/images/home/blog-recorte-inferior.png");
}

.section-blog--content--article--data {
    font-size: .9rem;
    margin-bottom: .5rem;
    display: block;
    letter-spacing: .5px;
}
.section-blog--content--article--data span {
    color: #888888;
}

.section-blog--content--article--img {
    margin-bottom: 3em;
}

.section-blog--content--article--title {
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: -1px;
    margin-bottom: 1.5rem;
}

.section-blog--content--article--text {
    color: #666666;
    line-height: 1.7;
    font-size: 1.2rem;
}

.section-blog--content--article--footer.row {
    font-size: .9rem;
    font-weight: bold;
    letter-spacing: -.5px;
}

.ico-share {
    margin-top: -8px;
    margin-bottom: -8px;
    max-height: none;
}

/** SECTION CONTACT */
.section-contact {
    background: url("../../../assets/images/home/bg-contact.jpg") no-repeat;
    background-size: cover;
    color: white;
    position: relative;
}

.section-contact .btn{
    font-weight: bold;
}

.form-control {
    background: transparent;
    border-radius: 4px;
    border-width: 2px;
    color: #AAAAAA;
    padding: 1rem 1rem;
    height: 4rem;
    font-size: 1.15rem;
    margin: .5rem 0;
    font-weight: bold;
}

textarea.form-control {
    height: auto;
}

select.form-control:not([size]):not([multiple]) {
    height: 4rem;
}

.section-contact--title {
    font-size: 3.2rem;
    text-align: center;
    margin-bottom: 1.5em;
    position: relative;
}
.section-contact--title:before {
    content: '';
    position: absolute;
    top: -3rem;
    width: 3rem;
    height: .5rem;
    background-color: white;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.section-contact--form--title {
    font-size: 3.2rem;
    max-width: 600px;
    position: relative;
}
.section-contact--form--title:before {
    content: "";

    position: absolute;
    display: block;

    width: .5rem;
    height: 1.6em;

    left: -.5rem;
    top: .2em;

    background-color: #fa4616;
}

.section-contact--form--subtitle {
    font-size: 1.6rem;
    line-height: 1.2;
}

.section-contact--form--info .ico {
    width: 3.15rem;
}

.section-contact--form--info {
    font-size: 1.9rem;
    color: #fa4616;
}

/** FOOTER */

.footer {
    background-color: #292929;
    padding-top: 1.5rem;
    color: white;
}

.footer--paragraph--link {
    font-weight: bold;
    color: #fa4616;
    text-decoration: underline;
    font-size: 1.6rem;
}

.footer--paragraph {
    font-weight: 300;
    line-height: 1.42857em;
    color: #575757;
    font-size: 1.2rem;
}

.footer--links-list {
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
}
@media(max-width: 575px) {
    .footer {
        font-size: 1.6rem;
    }
}

.footer--links-list a:hover {
    color: #fa4616;
}

.footer--links-list > li {
}

.footer--policy {
    color: #fa4616;
    padding-top: 2rem;
    margin-bottom: 0;
}

.btn-simples {
    position: relative;

    width: 14.5rem;

    padding: .5rem 1rem;

    border: none;
    border-radius: 0;

    margin: 0 0 2px;

    background-color: #373737;
    box-shadow: none;

    font-size: 1.4em;
    text-align: left;
    font-weight: 300;
    color: #fff;
    line-height: 33px;
    text-transform: uppercase;
    font-stretch: condensed;
}

.footer--input-newsletter {
    font-size: 1em;
    background: transparent;
    border: 1px solid #666666;
    border-radius: 5px;
    padding: .7rem 5rem .7rem 1.2rem;
    font-weight: bold;
    color: #fa4616;
}

.btn-simples>.icone {
    position: absolute;
    right: 1.5rem;
    top: 1rem;
    color: #fa4616;
    transition: all ease-out 275ms;
}

.icone-busca {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAVCAYAAAEx0v4+AAAABmJLR0QAAAAAAAD5Q7t/AAABD0lEQVR42rVUXQ3EIAxGAhJOwkmYhElAwiTMwZ7vCQmTwCUnAAlImASuTbqFlZaNS46kGXRf/z8wBtbr/ZkNbYIpFygGkGhuLsBaSfm8NHMnFByytC8Bs4Tcqqjw9VpQfyDRDWWBBfsqKCgWrRDQp1NmIKMC3LjiQaEx5Iie6Hy754aMI/eKaUwtqw3nTRWPFHbhIAQ4xfhhmkNS2tMC5ksgUoxXux50qHO0XBnph6MWZRKr5YTtGcq0VLBUUA/YS+TwRY5cksa06gJS0VmaJsNFwk2thiBg7WCo22ku/QwtVjScrtrb8KvDoDncb2nocLaTazYNHqfi+ttG7y6HJ0VPCm08o1a8TdKO9+i/jr8Ay4euHcBzTwAAAABJRU5ErkJggg==);
    width: 20px;
    height: 21px;
}

.icone-topo {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAALCAYAAAEIDp3VAAAABmJLR0QAAAAAAAD5Q7t/AAAAfUlEQVR42pWQ2w3AIAgAGcERHIF1u02TDsAIHcEVGlNIAFHUxA/hPB4A0bnup5kX+jRa5A8WHyCTkMD0h0DdHSYVgL5fXaYOLY+SNwoWyE6HuBylkFoWLSG3WVpCIRxONMJ1d0Dim29kQ9S4OsrmjsReNBktF2eibfGpKBN/VS2/1eNWYCYAAAAASUVORK5CYII=);
    width: 20px;
    height: 11px;
}

.icone {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 0 0;
    vertical-align: middle;
    font-size: 0;
}
.footer--input-newsletter--ico {
    background: transparent;
    border: none;
    cursor: pointer;
}
.footer--input-newsletter--ico .ico {
    font-size: 1em;
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    top: .75rem;
    right: 2.5rem;
    transition: all .2s ease;
}

.footer--input-newsletter--ico:hover .ico {
    transform: translateX(20%);
}
@media(max-width: 480px) {
    .footer--input-newsletter--ico .ico {
        right: .5rem;
    }
}