.fade {
    position:relative;
    opacity: 0;
}

.has-animation {
    transition: none !important;

    &:not([data-animation-style]) {
        opacity: 0;
    }
}

.is-animate {
    transition: all .5s ease-out, opacity .7s ease-in;
}

.fade.right {
    right: -20%;
}

.fade.left {
    right: 20%;
}

.ready.fade {
    right: 0;

    opacity: 1;
}