* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

body, html {
    background: #f3f3f3;

    font-size: 15px;
    font-family: 'Montserrat', sans-serif;

    overflow-x: hidden;

    @media(max-width: 1400px) {
        font-size: 11px;
    }
    @media(max-width: 991px) {
        font-size: 1.1vw;
    }
    @media(max-width: 991px) and (orientation: landscape) {
        font-size: 1.1vh;
    }
    @media(max-width: 768px) {
        font-size: 1.8vw;
    }
    @media(max-width: 768px) and (orientation: landscape)  {
        font-size: 1.8vh;
    }
    @media(max-width: 420px) {
        font-size: 9px;
    }
}

img {
    max-width: 100%;
    max-height: 100%;
}

a {
    color: inherit;

    &:hover {
        color: inherit;
        text-decoration: inherit;
    }
}

.hide {
    display: none !important;
}

.space-y {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.list-unstyled {
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.container-fluid {

    padding-left: 2.5rem;
    padding-right: 2.5rem;

    @media(min-width: 1200px) {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

.btn {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    line-height: 1.5;

    background-color: #fa4616;

    padding: 1.25rem 1rem;

    border-left: #bd3814 solid .5rem;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    border-radius: 0;

    font-size: 1.25rem;
    font-weight: bold;

    color: white;
    text-transform: uppercase;

    text-decoration: none;

    @media(max-width: 480px) {
        display: block;

        width: 100% !important;
        max-width: 360px;

        margin: 1rem auto !important;

        font-size: 1.5rem;
    }

    &.large {
        width: 20rem;
    }

    &:hover {
        background-color: #bd3814;

        color: white;
    }
}

.form-control {
    width: 100%;
    border-style: solid;
}

main ul:not(.list-unstyled) {
    list-style: none;
    li {
        position: relative;
        margin-top: 2rem;

        &:before {
            content: "";
            background-image: url(../../../assets/images/icons/ico-list-item.png);
            width: 2rem;
            height: 2rem;
            background-size: contain;
            background-repeat: no-repeat;
            display: inline-block;
            margin-right: .75rem;
            vertical-align: middle;
            position: absolute;
            left: -2.8rem;
            top: .2em;
        }
    }

    &.white-icon {
        li:before {
            filter: invert(100%);
        }
    }
}

.generic-title {
    font-size: 3.2rem;
    margin: 0 0 1rem 0;
    text-align: center;
}

.generic-subtitle {
    font-size: 1.6rem;
    margin: 0 0 1rem 0;
    text-align: center;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

@media(min-width: 1200px) {
    .text-xl-left {
        text-align: left;
    }
    .text-xl-center {
        text-align: center;
    }
    .text-xl-right {
        text-align: right;
    }
}

.number-shake {
    font-style: normal;
}

.separator {
    position: relative;
    &:before {
        content: "";
        position: absolute;
        display: block;
        height: 9px;
        width: 3rem;
        top: 3.5rem;
        left: 0;
        right: 0;
        margin: auto;
        background: #fa4616;
        &.white {
            background: white;
        }
        &.orange {
            background: #fa4616;
        }
        &.black {
            background: black;
        }
    }
}