.the-header {
    transition: all .5s ease;
    &.fixed {
        background: #333538;
        top: 0;
        &.hide {
            top: -150px;
        }
    }
}

.header-nav--pages {
    color: white;
    font-size: 1.45em;
    font-weight: 600;

    text-transform: uppercase;

    > li:hover {
        color: #fa4616;
    }

    .current {
        color: #fa4616;
    }

    .btn {
        font-size: 1.45rem;
        font-weight: 600;
    }
}

@media(max-width: 991px) {

    .header-nav--button {
        width: 2rem;
        border: none;
        padding: 0;
        height: 2rem;
        background: transparent;
        font-weight: bold;
        transform: scale(3) rotate(90deg);
        position: absolute;
        top: 3rem;
        right: 2rem;
        cursor: pointer;
        color: #fa4616;
    }
    .header-nav--logo img {
        max-height: 6rem;
    }
    .header-nav--pages {
        position: absolute;
        left: -180vw;
        top: 100%;
        background: #333538;
        margin: 0;
        transition: all .3s ease-in-out;
    }

    .header-nav--pages.show {
        left: 0;
    }

    .header-nav {
        position: static;
    }

    .header-nav--pages > li {
        width: 100%;
        padding: 1.5rem !important;
        border-top: 1px solid black;
        text-align: center;
        transition: all .3s ease-in;
    }
    .header-nav--pages > li:hover {
        background: black;
        color: #fa4616;
    }
}

.sub-header {
    background-color: #fa4616;

    transition: all .3s ease-in-out;
    position: relative;
    overflow: hidden;
    opacity: 1;

    &.hide {
        display: block !important;
        height: 0;
        opacity: 0;
    }
}

.sub-header li {
    display: inline-block;
    @media(min-width: 768px) {
        margin-right: 1.6em;
    }
}


.sub-header--container {
}

.sub-header li a, .old .sub-header li a  {
    color: black;
    font-weight: bolder;
    vertical-align: bottom;
}

.sub-header li {
    transition: all .2s ease-in-out;
}
.sub-header li:hover {
    transform: scale(1.05);
}
.sub-header li.is-active {
    filter: invert(100%);
}

.sub-header--container {
    padding-top: .75em;
    padding-bottom: .55em;
    text-align: center;
    font-size: 1.13em;
}