.ico {
    display: inline-block;

    margin-right: .5rem;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;

    font-size: 1rem;
    vertical-align: middle;

    transition: all .2s ease;
}

a .ico, a.ico {
    transition: all .3s ease;
}
a:hover .ico, a.ico:hover {
    transform: scale(1.15);
}

.ico-play {
    width: 2.42em;
    height: 2.42em;

    background-image: url("/assets/images/icons/ico-play.png");
}

.ico-monitor-click {
    width: 2.5em;
    height: 2.5em;

    background-image: url("/assets/images/icons/ico-monitor-click.png");
}

.ico-cart {
    width: 4.5em;
    height: 4.5em;

    background-image: url("/assets/images/icons/ico-cart.png");
}

.ico-letter {
    width: 3.92em;
    height: 3.92em;

    background-image: url("/assets/images/icons/ico-letter.png");
}

.ico-phone {
    width: 3.92em;
    height: 3.92em;

    background-image: url("/assets/images/icons/ico-phone.png");
}

.ico-go {
    width: 1.5em;
    height: 1.5em;

    background-image: url("/assets/images/icons/ico-go.png");
    vertical-align: sub;
}

.ico-facebook {
    width: 1.5rem;
    height: 1.5rem;

    background-image: url("/assets/images/icons/ico-facebook.png");
}

.ico-tweet {
    width: 1.5rem;
    height: 1.5rem;

    background-image: url("/assets/images/icons/ico-tweet.png");
}

.ico-instagram {
    width: 1.5rem;
    height: 1.5rem;

    background-image: url("/assets/images/icons/ico-instagram.png");
}

.ico-google-plus {
    width: 1.5rem;
    height: 1.5rem;

    background-image: url("/assets/images/icons/ico-google-plus.png");
}

.ico-youtube {
    width: 1.5rem;
    height: 1.5rem;

    background-image: url("/assets/images/icons/ico-youtube.png");
}

.ico-linkedin {
    width: 1.5rem;
    height: 1.5rem;

    background-image: url("/assets/images/icons/ico-linkedin.png");
}

.ico-question {
    width: 2rem;
    height: 2.5rem;

    background-image: url("/assets/images/icons/ico-question.png");
}

.ico-cart-2 {
    width: 2rem;
    height: 2rem;

    background-image: url("/assets/images/icons/ico-cart-2.png");
}

.ico-heart-2 {
    width: 2rem;
    height: 2rem;

    background-image: url("/assets/images/icons/ico-heart-2.png");
}

.ico-baixo-custo {
    width: 2rem;
    height: 2rem;

    background-image: url("/assets/images/icons/ico-baixo-custo.png");
}

.ico-click {
    width: 2rem;
    height: 2rem;

    background-image: url("/assets/images/icons/ico-click.png");
}
